## Obtaining the dataset

In [1]:
!wget https://raw.githubusercontent.com/hsu-ai-course/hsu.ai/master/code/datasets/ml/nutrition.csv -O nutrition.csv

--2020-05-12 14:00:34--  https://raw.githubusercontent.com/hsu-ai-course/hsu.ai/master/code/datasets/ml/nutrition.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8103 (7.9K) [text/plain]
Saving to: ‘nutrition.csv’

nutrition.csv       100%[===================>]   7.91K  --.-KB/s    in 0s

2020-05-12 14:00:34 (77.1 MB/s) - ‘nutrition.csv’ saved [8103/8103]

In [5]:
import pandas as pd

nutrition = pd.read_csv("nutrition.csv")
nutrition.head()

                                    Food and Serving  ...                                          Food Type
0                                                NaN  ...                                                NaN
1                  Asparagus, 5 spears (93 g/3.3 oz)  ...  Vegetables, Serving Size (gram weight/ ounce w...
2               Bell Pepper, 1 medium (148 g/5.3 oz)  ...  Vegetables, Serving Size (gram weight/ ounce w...
3            Broccoli, 1 medium stalk (148 g/5.3 oz)  ...  Vegetables, Serving Size (gram weight/ ounce w...
4  Carrot, 1 carrot, 7" long, 1 1/4" diameter (78...  ...  Vegetables, Serving Size (gram weight/ ounce w...

[5 rows x 24 columns]

## Filling NaNs + Replacing Food type by categorical

In [6]:
nutrition = nutrition.drop(nutrition.index[0])  # removing row with measuring units
nutrition = nutrition.drop(["Food and Serving"], axis = 1)  # removing names

types = {"Food Type":{
    "Vegetables, Serving Size (gram weight/ ounce weight)": 1,
    "Fruits Serving Size (gram weight/ounce weight)": 2,
    "Seafood, Serving Size (84 g/3 oz)": 3
}}

nutrition = nutrition.fillna(0.0)
nutrition.replace(types, inplace=True)
nutrition.head()

   Calories  Calories from Fat  ... Chole-sterol 2 Food Type
1      20.0                0.0  ...              0         1
2      25.0                0.0  ...              0         1
3      45.0                0.0  ...              0         1
4      30.0                0.0  ...              0         1
5      25.0                0.0  ...              0         1

[5 rows x 23 columns]

## Dividing into source and target + scaling

In [7]:
from sklearn.preprocessing import MinMaxScaler

nutrition.reset_index(drop=True, inplace=True)

target_cals = nutrition["Calories"] # what we will predict 
source = nutrition.drop(["Calories"], axis = 1)  # features that will be used for prediction


# Features' scales vary a lot (some range from 0 to 3, others from 70 to 450)
# Therefore we will scale them
scaler = MinMaxScaler()
source_scaled = pd.DataFrame(scaler.fit_transform(source), columns=source.columns)
source_scaled.head()

   Calories from Fat  Total Fat 1  ...  Chole-sterol 2  Food Type
0                0.0         0.00  ...             0.0        0.0
1                0.0         0.00  ...             0.0        0.0
2                0.0         0.05  ...             0.0        0.0
3                0.0         0.00  ...             0.0        0.0
4                0.0         0.00  ...             0.0        0.0

[5 rows x 22 columns]

## Train-test splitting

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(source_scaled, target_cals, test_size=0.2, random_state=42)
X_train.head()

    Calories from Fat  Total Fat 1  ...  Chole-sterol 2  Food Type
3            0.000000         0.00  ...         0.00000        0.0
53           0.166667         0.20  ...         0.22807        1.0
17           0.222222         0.25  ...         0.00000        0.0
8            0.000000         0.00  ...         0.00000        0.0
6            0.000000         0.00  ...         0.00000        0.0

[5 rows x 22 columns]

## Linear Regression

In [10]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, y_train)

score = reg.score(X_test, y_test)
print("R^2 score of the prediction: ", score)

0.9890617332873107

In [21]:
pred_cals = reg.predict(X_test.iloc[[3]])
real_cals = list(y_test.iloc[[3]])[0]

print("Predicted calories: ", pred_cals[0])
print("Real calories: ", real_cals)

Predicted calories:  73.25807984334209
Real calories:  80.0